/* ---------------- reset css ---------------- */

/* les epaisseurs des bordures de conteneurs se confondent */
* {
    box-sizing: border-box;
}

/* la taille de l'image dependra de son conteneur parent */
img {
    width: 100%;
}

body,
h1,
h2,
p,
ul {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

/* ---------------- fin reset css ---------------- */



/* conteneur principal => contient toutes les sections */
#principal {
    width: 1920px;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center
}


/* alignement des blocs gauche / central / droite */



/* taille conteneur central */
#central {
    width: 960px;
    height: 916px;
    background-color: blue;
    border: 1px solid black;
}


/* taille conteneurs gauche et droite */
#gauche,
#droite {
    width: 480px;
    height: 916px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/* ---------------- interieur bloc gauche ---------------- */
.blocGauche {
    text-align: center;
    width: 470px;
    height: 300px;
    border: 1px solid black;

}

#statistiques {
    background-color: lightblue;
}

#alignStat{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#personnage {
    background-color: orange;
}

figure {
   margin:0;
}

#hero {
    /* border: 1px solid black; */
}

#ressources {
    background-color: chocolate;
}

/* ---------------- fin interieur bloc gauche ---------------- */



/* ---------------- interieur bloc central ---------------- */

#topCentre {
    height: 125px;
    width: 960px;
    text-align: center;
    background-color: cornflowerblue;
}

#bgEre {
    height: 191px;
    width: 960px;
    background-color: darkgrey;
}

#jeu {
    height: 600px;
    width: 960px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
}

#jeu div {
    display: flex;
    border: 1px solid black;
    width: 10%;
    height: 10%;
}

/* ---------------- fin interieur bloc central ---------------- */



/* ---------------- interieur bloc droite ---------------- */

.bloc-droite {
    text-align: center;
    width: 470px;
    height: 300px;
    border: 1px solid black;
}

#shop {
    background-color: chocolate;
}

.ouvrirShop{
    position: absolute;
    right :5px;
    width: 1435px;
    height: 917px;
    
}

#objets {
    background-color: orange;
}

#bonusMaitre {
    background-color: lightgreen;
}

/* ---------------- fin interieur bloc droite ---------------- */