/* ---------------- reset css ---------------- */

/* les epaisseurs des bordures de conteneurs se confondent */
* {
    box-sizing: border-box;
}

/* la taille de l'image dependra de son conteneur parent */
img {
    width: 100%;
}

body,
h1,
h2,
p,
ul {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding-left: 0;
}

h1,h2 {
    font-family: sans-serif;
    color: #fff;
}


/* ---------------- fin reset css ---------------- */



/* conteneur principal => contient toutes les sections */
#principal {
    width: 1920px;
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    display: flex;
    align-items: center
}


/* alignement des blocs gauche / central / droite */



/* taille conteneur central */
#central {
    width: 960px;
    height: 916px;
    border: 1px solid black;
}


/* taille conteneurs gauche et droite */
#gauche,
#droite {
    width: 480px;
    height: 916px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/* ---------------- interieur bloc gauche ---------------- */
.blocGauche {
    text-align: center;
    width: 470px;
    height: 300px;
    border: 1px solid black;

}

#statistiques {
    background-image: url(../img/fondStat_sansText.png);
    background-size: cover;
}

#statistiques h2 {
    margin-top: 6%;
    color: #2E5967;
}

.alignStat{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#personnage {

}

figure {
   margin:0;
}

#hero {
    /* border: 1px solid black; */
}

#ressources {
   background-image: url(../img/fondRessource.png);
   background-size: cover;
}

.metal {
    background-color: gray;
}

.bois {
    background-image: url(../img/ressourceArbre.png);
    background-size: cover;
    /*position:relative; 
    top: -5px;*/ 
}
.pierre {
    background-image: url(../img/ressourcePierre.png);
    background-size: cover;
}

.vide{
    
}

#ressources .alignStat {
    margin: 0;
    padding-left: 15%;
}

#ressources ul li {
        width: 230px;
        height: 35%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

}

#ressources ul li , #ressources p{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 12%;
    text-align: right;
}

/* ---------------- fin interieur bloc gauche ---------------- */



/* ---------------- interieur bloc central ---------------- */

#topCentre {
    height: 125px;
    width: 960px;
    text-align: center;
}

#bgEre {
    height: 191px;
    width: 960px;
}

#jeu {
    height: 600px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

#jeu div {
    display: flex;
    border: 1px solid black;
    width: 10%;
    height: 10%;
}

/* ---------------- fin interieur bloc central ---------------- */



/* ---------------- interieur bloc droite ---------------- */

.bloc-droite {
    text-align: center;
    width: 470px;
    height: 300px;
    border: 1px solid black;
}

#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bouton-ouvrir-shop {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 470px;
    height: 250px;
    background-image: url(../img/fondBoutonShop_sansText.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#bouton-fermer-shop {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 470px;
    height: 250px;
    background-image: url(../img/fondBoutonShop_sansText.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* BLOC-SHOP */

#bloc-shop {
    display: none;
    position: absolute;
    /* top: 35%; */
    top: 387px;
    /* left: 34%; */
    left: 480px;
    height: 600px;
    width: 960px;
    background-color: #FEEEDC;
}

/* Title */
#container-title-shop {
    background-color: darkseagreen;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-shop {}

/* Items */
#container-items-shop {
    background-color: mediumseagreen;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containers-items-shop {
    display: flex;
    justify-content: space-around;
}

.noms-items-shop {
    color: aliceblue;
    font-size: 1em;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Items Lvls */
.boutons-itemslvls-shop {
    width: 15%;
    border-radius: 10px;
    color: aliceblue
}

.noms-itemslvls-shop {}

.prix-itemslvls-shop {
    display: flex;
    flex-direction: column;
}

#objets {

}

#bonusMaitre {

}

/*---------------------- catastrophe --------------------*/

#catastrophe {
    background-image: url(../img/dino.png);
    background-size: cover;
    width: 155px;
    height: 155px;
    position: relative;
}

.none{
    display: none;
}

.visible{
    display: flex; 
}
/*------------------- fin catastrophe -------------------*/

/* ---------------- fin interieur bloc droite ---------------- */